body {
  background-color: #121212 !important;
  color: #e0e0e0 !important;
}

.swagger-ui .topbar {
  background-color: #1f1f1f !important;
  border-bottom: 2px solid #333 !important;
}

.swagger-ui .topbar .link span {
  color: #00bcd4 !important;
  font-weight: bold;
}

.swagger-ui .info, 
.swagger-ui .scheme-container,
.swagger-ui .opblock,
.swagger-ui .model-box {
  background-color: #1e1e1e !important;
  color: #e0e0e0 !important;
}

.swagger-ui .opblock-summary {
  background-color: #2a2a2a !important;
}

.swagger-ui .opblock-summary-method {
  color: #fff !important;
  border-radius: 5px;
}
